html, body {
    height: 100%;
}

body {
    margin: 0px;
    padding: 0px;
    font-family: Helvetica, sans-serif;
    font-size: 14px;
    background: #b5a282;
    color: black;
    display: flex;
    flex-direction: column;
}

header, #main, #inputs, #outputs, #goals, #fv-calc, #rate-calc {
    box-sizing: border-box;
}

header {
    flex: 0 0 30px;
    border: 1px dashed aqua;
}

#main {
    flex: 1 100%;
    display: flex;
    flex-direction: column;
}

#inputs {
    border: 1px dashed aqua;
    flex: 0 150px;
}

#outputs {
    border: 1px dashed aqua;
    flex: 1 100%;
    display: flex;
    flex-flow: row wrap;
}

#goals, #fv-calc, #rate-calc {
    flex: 0 0 100%;
    border: 1px dashed green;
    padding: 0 1em 1em;
}

/* Large Screens */
@media all and (min-width: 1000px) {
    #goals, #fv-calc, #rate-calc {
        flex: 0 0 33.3333%;
    }
    
    #goals { order: 1; }
    #fv-calc { order: 1; }
    #rate-calc { order: 1; }
}

